$background-color: #f0f0f0;
$text-color: #000000;
$white: #ffffff;

body {
    font-family: 'Helvetica', sans-serif !important;
    overflow: auto;
    margin: 0;
    background-color: $background-color;
    color: $text-color;
}

//Prevents loading content before styles are loaded
#loadOverlay {
    display:block !important;
}

//instead of using disabled attr
.not-active {
    pointer-events: none;
    opacity: 0.5;
}

.btn-success {
    background-color:#77A172;
}

.btn-secondary {
    background-color:#9D9FA6;
}

.input-highlight {
    color: $white;
    background: #77A172 !important;
    border: 2px solid #146c43 !important;
}

.emotion-tooltip {
    cursor: pointer;
}

#ibm-tab {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $background-color;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.12);
    .container {
        margin-top: 1rem;
        margin-bottom: .55rem;
    }
    ul.ibm-tabs {
        margin:0;
        li {
            text-align: center;
            list-style: none;
            text-transform: uppercase;
            font-size: 1.25rem;
            border-bottom: 2px solid $background-color;
    
            &:hover,
            &.active {
                border-color: green;
            }
    
            a {
                color: $text-color;
                text-decoration: none;
            }
        }
    }
}

section:not(#ibm-tab,#finish) {
    margin-top: 8rem;
}

#finish {
    margin-top: 15%;
}

.annotationLabel {
    color: $text-color;
    font-family: monospace;
    pointer-events: none;
    font-size: 17px;
}

.annotationDescription {
    color: $white;
    font-family: monospace;
    pointer-events: none;
    font-size: 14px;
    position: absolute;
    left: 25px;
    padding: 1em;
    width: 200px;
    background: rgba(0, 0, 0, 0.66);
    border-radius: 0.5em;
    transition: opacity 0.5s;
    display: none;
}

#desk-intro-prepare .container button {
    padding: 0;
}

#desk-intro .container ol {
    padding-left: 1.5rem;
}

#desk-emotions .container {
    font-size: 18px;
}

.dropdown-info {
    background-color: #e8e2e2;
    padding: 8px 8px 8px 48px;
    max-width: 76%;
}

.dropdown-block {
    button.active {
        color: $text-color;
        background-color: #e8e2e2;
        border-color: #e8e2e2;

        &:focus {
            box-shadow: none;
        }

        img {
            content: url(assets/dropdown-up-black.png);
        }
    }
}

input:hover {
    cursor: pointer;
}

.desk-canvas {
    position: relative;
}

button {
    a {
        color: $white;
        text-decoration: none;
    }

    &.btn-desk {
        border: none;

        &:hover {
            background: #dedede;
        }
    }

    &.close {
        background: transparent;
        border: none;
        position: absolute;
        right: 1%;
    }
}

#emotionForm .emotion-size:hover {
    cursor: pointer;
    background: #cfcfcf;
}

#introPhoto {
    cursor: pointer;
}

.mx-6 {
    margin-right: 3.5rem !important;
    margin-left: 3.5rem !important;
}